<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4mhFIFeJP0nKU10fkL_F8OzCh2CDgoLU</string>
	<key>GCM_SENDER_ID</key>
	<string>46001845449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leboneng.mathletics</string>
	<key>PROJECT_ID</key>
	<string>math-premium-app</string>
	<key>STORAGE_BUCKET</key>
	<string>math-premium-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46001845449:ios:8a08b653acb141807ec918</string>
	<key>DATABASE_URL</key>
	<string>https://math-premium-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>